.App {
  text-align: center;

  .intro-text {
    margin: 1rem;
  }
  .navbar {
    padding-top: 1rem;
  }
  .navbar-brand {
    margin-left: 2rem;
  }
  .navbar-nav {
    margin-left: auto;
    margin-right: 2rem;
  }
  .avatar-frame {
    display: flex;
    align-items: center;
    padding-left: 2rem;
    vertical-align: middle;
    // justify-content: center;
    // flex-direction: column;
    background-color: #212529;
  }

  .avatar-circle {
    height: 4rem;
    width: 4rem;
  }
}
